/** 
* GEIST SANS VARIABLE
* https://vercel.com/font
* WOFF2
* WEIGHTS: 100 - 900
*/
@font-face {
  font-family: "Geist Sans";
  src: url("/assets/fonts/Geist/Geist-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geist Sans";
  src: url("/assets/fonts/Geist/Geist-Variable-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

/** 
* GEIST MONO VARIABLE
* https://vercel.com/font
* WOFF2
* WEIGHTS: 100 - 900
*/
@font-face {
  font-family: "Geist Mono";
  src: url("/assets/fonts/GeistMono/GeistMono-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Geist Mono";
  src: url("/assets/fonts/GeistMono/GeistMono-Variable-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

/** 
* GEIST PIXEL
* https://vercel.com/font
* WOFF2
* Circle, Grid, Line, Square, Triangle
*/
@font-face {
  font-family: "Geist Pixel Circle";
  src: url("/assets/fonts/GeistPixel/GeistPixel-Circle.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Geist Pixel Grid";
  src: url("/assets/fonts/GeistPixel/GeistPixel-Grid.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Geist Pixel Line";
  src: url("/assets/fonts/GeistPixel/GeistPixel-Line.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Geist Pixel Square";
  src: url("/assets/fonts/GeistPixel/GeistPixel-Square.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Geist Pixel Triangle";
  src: url("/assets/fonts/GeistPixel/GeistPixel-Triangle.woff2") format("woff2");
  font-display: swap;
}
